@import '../../../styles/colors.module.scss';
@import '../../../styles/typeface.module.scss';

.setting-bar-wrapper{
  padding:16px;
  display:flex;
  height:100%;
  flex-direction: column;
  justify-content:space-between;
  margin: 0 auto;
  .setting-bar {
    position: relative;
    height:50%;
    border-radius: 30px;
    overflow: hidden;
    background-color: color('grey_ccc');
    display:flex;
    justify-content: space-between;
    align-items: center;
    & > .progress{
      height:100%;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;
      display:flex;
      justify-content: center;
      align-items: center;
      z-index:100;
      
      & > .point {
        width:5px;
        height:5px;
        border-radius: 50%;
        background-color: color('white');
        z-index:50;
        &.selected{
          background-color: color('grey_bbb');
        }
      }
      &.selected {
        position:relative;
        background-color: color('white');
        border : 1px solid color('grey_bbb');
        z-index:100;
      }
    }
    & > .user-progress{
      height:100%;
      box-sizing: border-box;
      background: color('main');
      position:absolute;
      cursor: pointer;
    }
  }
  .setting-explain {
    display:flex;
    justify-content: space-between;
    & > span {
      @include typeface('Paragraph_3_b');
      color : color('grey_bbb');
      width:20px;
      // padding:4px;
      text-align: center;
      &.selected {
        color : color('main')
      }
    }
  }
}