@import '../../../styles/colors.module.scss';
@import '../../../styles/typeface.module.scss';
.toggle-bar {
  position: relative;
  display: inline-flex;
  border-radius: 20px;
  border: 1px solid color('grey_ccc');
  background-color: color('white');
  align-items: center;
  margin-left: 15px;
  // gap: 10px;
  & > .toggle-item {
    box-sizing: border-box;
    padding: 4px 20px;
    border-radius: 20px;
    z-index: 100;
    color: color('grey_111');
    display: flex;
    justify-content: center;
    align-items: center;
    @include typeface('Paragraph_1_sb');
    .mobile & {
      padding: 5px 10px;
      @include typeface('Paragraph_2b');
    }
    &.selected {
      color: color('white');
    }
    & > span {
      cursor: pointer;
    }
  }
  z-index: 50;
  & > .item-background {
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 25%;
    border-radius: 20px;
    z-index: 30;
    background: color('main_sub');
    transition: transform 0.5s ease;
  }
}
