.common-button {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &:active{
    transform : scale(0.97) translateY(2px);
  }
}