@import '../../../styles/colors.module.scss';
@import '../../../styles/typeface.module.scss';
.input-wrapper {
  width: 360px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid color('grey_ccc');
  background-color: color('white');
  font-size: 16px;
  & > input {
    font-size: 16px;
  }
  &.mobile {
    width: 100%;
  }
  &.focus {
    border-color: color('main_sub');
    font-size: 16px;
  }
  &.error {
    border-color: color('notice');
  }
  & > .input-search {
    @include typeface('Buttons_1_m');
    font-size: 16px;
    width: 100%;
    border: 0;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}
