@import '../../../styles/colors.module.scss';
@import '../../../styles/typeface.module.scss';
@mixin background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(100, 64, 221, 0.8);
  border-radius: 8px;
}
.selected-item {
  &.small {
    padding: 6px 12px;
  }
  &.medium {
    padding: 10px 16px;
  }
  &.big {
    padding: 14px 20px;
  }
  cursor: pointer;
  
  &.normal{
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: color('grey_ccc');
      }
    }
    &.selected {
      color: color('white');
      background-color: color('main');
    }
  }
  &.border {
    // padding: 4px 10px;
    @include typeface('Paragraph_2');
    cursor: pointer;
    color: color('grey_111');
    background-color: color('white');
    border: 1px solid color('grey_bbb');
    border-radius: 8px;
    &.selected {
      color: color('white');
      background-color: color('main');
      border: 1px solid color('white');
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: color('white');
        background-color: color('main');
        border: 1px solid color('white');
      }
    }
  }
  &.background {
    position: relative;
    display: flex;
    align-items: center;
    
    & > img {
      border-radius: 8px;
      width: 100%;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        &::after {
          content: '';
          @include background();
        }
      }
    }
    &.selected {
      &::after {
        content: '';
        @include background();
      }
    }
  }
}
