@import '../../styles/typeface.module.scss';
@import '../../styles/colors.module.scss';
.wrapper {
  min-width: 460px;
  background: color('white');
  box-shadow: 0 20px 10px rgba($color: #000000, $alpha: 0.2);
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.mobile.wrapper {
  min-width: unset;
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: flex;
  overflow-y: scroll;
}