@import '../../../styles//typeface.module.scss';
@import '../../../styles/colors.module.scss';
// HeaderItemList.tsx
.header-item {
  padding: 16px;
  display: flex;
  gap: 10px;
  position: relative;
  cursor: pointer;
  & > .title {
    @include typeface('Paragraph_1_b');
  }
  .mobile & {
    min-width: 130px;
  }
}