@import '../../styles/colors.module.scss';
.carousel {
  width:100%;
  // overflow: hidden;
  position: relative;
  box-sizing: border-box;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  & > .container {
    width:100%;
    overflow-x: auto;
    background-color: transparent;
    box-sizing: border-box;
    // padding-left:100%;
    // padding-right:100%;
    &::-webkit-scrollbar {
      display: none;
    }
    & > .slide-container {
      width:100%;
      display:flex;
      // overflow: hidden;
      // overflow-x: scroll;
      // transform : translateX(-100%);
      // padding-left:100%;
      // padding-right:100%;
      & > div{
        flex:0 0 100%;
        box-sizing: border-box;
      }
    }
  }
  & > .slide-container {
    width:100%;
    display:flex;
    // overflow-x: scroll;
    transform : translateX(-100%);
    // padding-left:100%;
    // padding-right:100%;
    & > div{
      flex:0 0 100%;
      box-sizing: border-box;
    }
  }
  & > .right {
    user-select: none;
    padding:4px;
    display:flex;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    border-radius: 50%;
    position:absolute;
    bottom:50%;
    transform : translate(-20%,50%);
    right:0;
    cursor: pointer;
  }
  & > .left {
    user-select: none;
    padding:4px;
    display:flex;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    border-radius: 50%;
    position:absolute;
    bottom:50%;
    left:0;
    transform : translate(20%,50%) rotateY(180deg);
    cursor: pointer;
  }
  & > .progress{
    display:flex;
    gap:6px;
    position:absolute;
    bottom:10px;
    left: 50%;
    transform : translate(-50%,0);
    & > .progress-point{
      width:10px;
      height:10px;
      border-radius: 5px;
      background-color: color('white');
      cursor: pointer;
      user-select: none;
      &.selected{
        background-color: color('main');
      }
    }
  }
}